<footer class="app-main-footer">
  <div class="footer-content">
    <p class="footer-subtext">
      Powered by Angular 22 & C++ 20 WASM • Facial Landmarks by MediaPipe • Demo Video:
      <a href="https://www.pexels.com" target="_blank" rel="noopener">Pexels</a>
    </p>

    <p class="footer-subtext">
      Developed by <a href="https://github.com/wixhub" target="_blank" rel="noopener">@wixhub</a>
      • Repository Source
      <a href="https://github.com/wixhub/facs" target="_blank" rel="noopener">GitHub</a>
    </p>
  </div>
</footer>
